%h3 Other Authentication
%p= link_to "new", new_user_authentication_path(current_user), class: "btn btn-success"

- @authentications.each do |authentication|
  %p
    = authentication.provider
    = link_to "Delete", [current_user, authentication],  class: "btn btn-success", data: {confirm: "are you sure?"}, method: :delete