<div class="media-list">
  <% @issues.each do |issue| %>
    <div class="media issue">
      <div class="issue-subject">
        <b style="margin:0">
          <%= (link_to "##{issue.github.number}", issue.github.html_url , target:"_blank" ) if issue.github %>
          <%= link_to issue.subject, issue %>
        </b>
      </div>
      <div class="issue-author">
        Opend by <%= issue.author.name %> <%= time_ago_in_words(issue.created_at) %> ago
      </div>
      <div class="issue-status">
        <% if issue.status == 1 %>
          <span class="label label-success">Open</span>
        <% else %>
          <span class="label label-danger">Closed</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div> 
