<div id="page">
  <ul class="nav nav-pills project-nav">
    <% @projects.each do |project| %>
      <li id="project-<%= project.id %>">
        <%= link_to "#users/#{current_user.id}/projects/#{project.id}/issues/open" do %>
          <%= project.name %>
          <span class="badge"><%= project.issues_count %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <div class="btn-group btn-group-sm states">
  </div>
  <div id="issues" class="media-list">
  </div>
</div>
