development:
  adapter: mysql2
  database: timecard_dev
  host: localhost
  username: root
  password: 

production:
  adapter: mysql2
  database: timecard_prod
  host: localhost
  username: root
  password: 

test:
  adapter: postgresql
  database: timecard_test
  host: localhost
  username: postgres
  password: 
