development:
  adapter: postgresql
  database: timecard_dev
  host: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_ADDR') %>
  port: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_PORT') %>
  username: postgres
  password: 

production:
  adapter: postgresql
  database: timecard_prod
  host: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_ADDR') %>
  port: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_PORT') %>
  username: postgres
  password: 

test:
  adapter: postgresql
  database: timecard_test
  host: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_ADDR') %>
  port: <%= ENV.fetch('POSTGRES_PORT_5432_TCP_PORT') %>
  username: postgres
  password: 
