development:
  github:
    key: "your-github-api-key"
    secret: "your-github-api-secret"
  ruffnote: 
    key: "your-ruffnote-api-key"
    secret: "your-ruffnote-api-secret"
    url: 'http://ruffnote.dev'

production:
  github:
    key: "your-github-api-key"
    secret: "your-github-api-secret"
  ruffnote: 
    key: "your-ruffnote-api-key"
    secret: "your-ruffnote-api-secret"
    url: 'https://ruffnote.com'

test:
  github:
    key: "your-github-api-key"
    secret: "your-github-api-secret"
  ruffnote: 
    key: "your-ruffnote-api-key"
    secret: "your-ruffnote-api-secret"
    url: 'http://ruffnote.dev'
