<%= form_tag "/data", multipart: true do  %>
  <div class="checkbox">
    <%= file_field_tag "import" %>
  </div>
  <div class="actions">
    <%= submit_tag "import", {class: "btn btn-default"} %>
  </div>
<% end %>
