body {
  -webkit-text-size-adjust: 100%;
}

a.btn-black {
  background-color: #777777;
  color: #ffffff;
}

a.btn-black:hover {
  background-color: #555555;
  color: #ffffff;
  text-decoration: none;
}

div.table-responsive {
  border: none;
}

#workers {
  margin: 0 0 20px 0;
  tr td {
    font-size: 16px;
    border-top: none;
    border-bottom: 1px solid #dddddd;
  }
}

.btn-start,
.btn-stop {
  display: inline-block;
  padding: 0 5px;
}

.btn-start i,
.btn-stop i {
  color: #666;
  font-size: 19px;
}

.btn-start i:hover {
  color: #428bca;
}

.btn-stop i:hover {
  color: #f0ad4e;
}

.highlight {
  background-color: #f4f4f4;
}
