.issues {
  background-color: #f5f5f5;

  .issue {
    margin: 0 0 20px 0;
    padding: 20px;
    background-color: #ffffff;

    .issue__subject {
      margin: 0 0 15px 0;
      font-size: 30px;
    }

    .issue__meta {
      .issue__status {
        display: inline-block;
        font-size: 18px;
      }

      .issue__author {
        display: inline-block;
      }

      .issue__assignee {
        margin: 10px 0;
      }

      .issue__labels {
        margin: 10px 0;
        .issue__label {
          margin: 0 10px 0 0;
          font-size: 14px;
        }
      }
    }

    .issue__description {
      margin: 0 0 15px 0;
    }

    .time-entries__buttons {
      display: inline-block;
    }
  }

  .issue-form {
    padding: 20px 50px;
    background-color: #ffffff;

    .tab-content {
      .issue__description--write {
        padding: 10px;
        border: solid 1px #dddddd;
        border-top: none;
        border-radius: 0 0 4px 4px;
      }

      .issue__description--preview {
        padding: 10px;
        border-bottom: solid 1px #dddddd;
      }
    }
  }

  .issue__back {
    margin: 0 0 0 -30px;
    font-size: 32px;
    font-weight: bold;

    .issue__back__link {
      text-decoration: none;
    }
  }

  @media screen and (max-width: 480px) {
    .issue__back {
      margin: 0;
    }
  }

  .project {
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #ffffff;

    .project__title {
      margin: 0 0 15px 0;
    }

    .project__meta {
      margin: 0 0 10px 0;
      padding: 10px;
      background-color: #fcfcfc;
    }
  }

  .new_issue, .edit_issue {
    .panel-body {
      ul {
        margin: 0;
        padding: 0 0 0 18px;
      }
    }

    .issue__labels {
      margin: 0 5px;
      padding: 0;
      list-style-type: none;

      .issue__labels__item {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 18px;
      }
    }

    #issue_will_start_at_1i,
    #issue_will_start_at_2i {
      display: inline-block;
      width: 20%;
    }

    #issue_will_start_at_3i,
    #issue_will_start_at_4i,
    #issue_will_start_at_5i {
      display: inline-block;
      width: 15%;
    }

    .issue__will-start-at__link--close {
      line-height: 34px;
    }
  }

  .comment-list {
    margin: 0 0 20px 0;

    .comment {
      .comment__edit-button {
        margin: 0 15px 0 0;
        font-size: 16px;
      }
    }
  }

  .comment-form {
    margin: 0 0 20px 0;
    .tab-content {
      background-color: #ffffff;
    }

    #comment__body--write {
      padding: 5px;
      border: solid 1px #dddddd;
      border-top: none;
      border-radius: 0 0 4px 4px;
    }

    #comment__body--preview {
      padding: 10px;
      border: solid 1px #dddddd;
      border-top: none;
    }
  }

  .time-entries {
    .time-entries__head {
      margin: 0;
      padding: 15px 0 5px 0;

      h2 {
        margin: 0 0 10px 0;
        color: #3366cc;
      }
    }
  }

  .time-entries__overview {
    margin: 0 0 15px 0;
    padding: 20px;
    background-color: #ffffff;

    h3 {
      margin: 0 0 10px 0;
    }

    .time-entries__user {
      margin: 0 0 10px 0;

      .time-entries__user__image {
        margin: 0 10px 0 0;
      }
    }
  }
}
