.issues {
  .issue {
    margin: 0 0 20px 0;

    .issue__subject {
      font-size: 30px;
    }

    .issue__meta {
      margin: 0 0 15px 0;
      .issue__status {
        display: inline-block;
        font-size: 18px;
      }

      .issue__author {
        display: inline-block;
      }

      .issue__assignee {
        margin: 10px 0;
      }

      .issue__labels {
        margin: 10px 0;
        .issue__label {
          margin: 0 10px 0 0;
          font-size: 14px;
        }
      }
    }

    .issue__description {
      margin: 0 0 15px 0;
    }
  }

  form {
    #issue_will_start_at_1i {
      display: inline-block;
      width: 20%;
    }
    #issue_will_start_at_2i {
      display: inline-block;
      width: 20%;
    }
    #issue_will_start_at_3i {
      display: inline-block;
      width: 15%;
    }
    #issue_will_start_at_4i {
      display: inline-block;
      width: 15%;
    }
    #issue_will_start_at_5i {
      display: inline-block;
      width: 15%;
    }
    .close {
      line-height: 34px;
    }
    .panel-body {
      ul {
        margin: 0;
        padding: 0 0 0 18px;
      }
    }
  }
}
