.issues {
  .issue {
    margin-top: 20px;
    margin-bottom: 15px;
    position:relative;
  }
  .issue-actions {
  }
  .comment {
  }
  .comment-actions {
  }
  .work-log {
  }
  .work-log-actions {
  }
}
