.projects {
  .project__status {
    margin: 0 0 20px 0;
  }

  .project__layout--card {
    .project__layout-unit {
      border: 3px solid #eeeeee;
      height: 370px;
      margin: 0 0 30px 0;
      padding: 15px 20px;
    }

    .project__new {
      display: block;
      text-decoration: none;
      border: 3px dashed #eeeeee;
    }

    .project__new-icon {
      text-align: center;
      font-size: 50px;
    }

    .project__new-text {
      text-align: center;
      font-size: 32px;
    }

    .project__name,
    .project__description,
    .project__meta {
      margin: 0 0 10px 0;
    }

    .project__members {
      .project__member {
        text-decoration: none;
        &:hover {
          opacity:0.6;
          filter: alpha(opacity=60);
          -ms-filter: "alpha( opacity=60 )";
        }
      }
    }
  }

  .project {
    .project__name {
    }

    .project__description {
    }

    .project__meta {
      margin: 0 0 10px 0;
    }

    .project__actions {
      margin: 0 0 10px 0;
    }
  }

  .activities-list__item {
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    .fa {
      font-size: 32px;
      color: #999999;
    }
  }

  form {
    margin-bottom: 15px;
  }
}

#project {
  #actions {
    margin: 15px 0;
  }
}
