.navbar-default {
  background-color: #ffffff;
}

.home {
  .navbar {
    z-index: auto;
  }
}

.loading {
  padding: 15px;
}

.projects-show {
  .projects-show__meta {
    padding: 10px;
    margin: 0 0 10px 0;
    list-style-type: none;
    background-color: #fcfcfc;

    .projects-show__meta__item {
      display: inline-block;
    }
  }
  .projects-show__desc {
    padding: 10px;
    margin: 0 0 10px 0;
  }
}

.project-list {
  padding: 0;
  margin: 0 0 15px 0;
  list-style-type: none;

  .project-list__item {

    .project__name--link {
      display: block;
      padding: 15px;
      text-decoration: none;
      &:hover {
        background-color: #62abea;
        color: #ffffff;
      }
    }
  }

  .project-list__item--current {
    .project__name--link {
      background-color: #428bca;
      color: #ffffff;
    }
  }
}

.issues__caption,
.comments__caption,
.workloads__caption,
.activities__caption{
  margin: 20px 0 20px 0;
  color: #3366cc;
  font-size: 24px;
}

.new-issue {
  display: inline-block;
}

.issue__status-button__container {
  display: inline-block;
}

.issue-list {
  margin: 15px 0 0 0;
  .issue-list__item {
    padding: 15px;
    margin: 0;
    border-bottom: solid 1px #dddddd;

    .timer-button__container {
      display: inline-block;
    }
  }
}

.sidebar {
  margin: 0 0 30px 0;
  .sidebar-logo {
    padding: 15px;
    background-color: #fcfcfc;
    border-left: solid 5px #eeeeee;
  }
}

.workers-logo {
  .workers-reload {
    position: absolute;
    right: 30px;
  }
}

.workers-list {
  padding: 0 0 0 15px;
  margin: 0 0 30px 0;
  list-style-type: none;

  .workers-list__item {
    padding: 15px 0 15px 0;
    border-bottom: solid 1px #eeeeee;
  }
}

.comments-list {
  padding: 0 0 0 15px;
  list-style-type: none;

  .comments-list__item {
    padding: 15px 0 15px 0;
    border-bottom: solid 1px #eeeeee;

    .comments-header {
      margin: 0 0 5px 0;
    }
  }
}

.workload-list {
  .workload-list__item {
    .workload {
      padding: 20px;
      background-color: #ffffff;

      .workload__duration {
        margin: 0 0 10px 0;
      }
    }
  }
}

.comment-list {
  .comment-list__item {
    .comment {
      padding: 20px;
      background-color: #ffffff;

      .comment__user {
        margin: 0 0 10px 0;
      }
    }
  }
}

