.projects-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
  .projects-list__item {
    
    .projects__name--link {
      display: block;
      padding: 15px;
      text-decoration: none;
      &:hover {
        background-color: #428bca;
        color: #ffffff;
      }
    }
  }
}
