.new-crowdworks-contract__form--full
  = form_for [@project, @contract] do |f|
    .form-group
      = f.label :contract_id
      = f.text_field :contract_id, class: "form-control"
    = f.submit "Submit", class: "btn btn-primary"
