%li.media
  .pull-left
    .media-object
      = image_tag gravatar_url(member.user.email)
  .media-body
    %h4.media-heading
      = link_to member.user.name, member.user
    %p
      = member.user.email
      %br
      - unless member.is_admin
        = link_to "Remove", member_path(member), confirm: "Are you sure?", method: :delete
