.row
  .col-sm-offset-2.col-sm-8
    .page
      .row
        .col-sm-12
          %h2
            = link_to @project.name, @project
          %p
            People with access to this project.
        .col-sm-6
          .search
            .form-group
              = text_field_tag :q, nil, class: "form-control search__field", placeholder: "Type username or email"
          %ul.users-list
        .col-sm-6
          %ul.media-list.members-list
            - @members.each do |member|
              = render partial: 'list_item', locals: { member: member }

:javascript
  new Timecard.Views.MembersIndex({projectId: "#{@project.id}"})
